/* * {
  border: .1px solid red
} */

.Top-bar {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  justify-content: space-between;
  align-items: center;
  height: 5vmin;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.Instagram-logo{
  max-width: 5vmin;
  max-height: 5vmin;
  display: flex;
  align-items: right;
  vertical-align: middle;
  padding-right: 1%;
}

.Email-logo {
  max-width: 5vmin;
  max-height: 5vmin;
  display: flex;
  align-items: right;
  vertical-align: middle;
  padding-right: 1%;
}

.Logos {
  display: flex;
  flex-direction: row;
  padding-right: 1%;
}

.Address {
  color: white;
  font-family: Merienda;
  font-weight: bolder;
  padding-left: 1%;
}

.Navbar {
  display: flex;
  flex-direction: row;
  background-color: #65686e;
  justify-content: space-between;
  align-items: center;
  height: 10vmin;
  position: fixed;
  width: 100%;
  top: 5vmin;
  z-index: 2;
}

.Business-logo {
  max-width: 10vmin;
  max-height: 10vmin;
  display: flex;
  align-items: right;
  vertical-align: middle;
  padding-left: 8%;
}

.Quote-button {
  background-color: rgb(246, 243, 242);
  display:block;
  height: 8vmin;
  width: 25vmin;
  border-radius: 50%;
  border: .4vmin solid black;
  color: #282c34;
  font-family: Merienda;
  font-weight: bolder;
  cursor: pointer;
}

.Nav-button {
  padding-right: 8%;
}

.Nav-text {
  font-family: Merienda;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.Phone-number {
  padding-right: 25%;
  color: white;
  font-family: Merienda;
  font-weight: bolder;
  text-decoration: none;
}

.Background {
  object-fit: contain;
  width: 150vmin;
  height: 75vmin;
  display: flex;
}

.First-section {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  padding-top: 7.8vmin;
}

.Wrapper-div {
  margin: 7.2vmin;
}

.First-section-button {
  background-color: rgb(246, 243, 242);
  height: 16vmin;
  width: 40vmin;
  border-radius: 50%;
  border: .4vmin solid black;
  color: #282c34;
  font-family: Merienda;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
  position: absolute;
  top: 50vmin;
}

.First-section-text {
  font-family: Merienda;
  font-weight: bolder;
  font-size: 4vw;
  position: absolute;
  top: 20vmin;
  z-index: 1;
  overflow-wrap: break-word;
  inline-size: 100vmin;
  text-align: center;
}

.First-section-footer {
  height: 10vmin;
  background-color: #65686e;
  display: flex;
  place-content: center;
}

.Navigate-down-button {
  position: relative;
  top: 2vmin;
  width: 6vmin;
  height: 6vmin;
  border-radius: 50%;
  border: none;
  background-image: url("https://static.thenounproject.com/png/516849-200.png");
  background-size: cover;
}

.Navigate-down-button:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition-duration: 400ms;
}

.Services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #65686e;
  text-align: center;
  color: white;
}

.Services-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  flex-wrap: wrap;
  padding: 3vmin;
  padding-top: 0;
  padding-bottom: 0;
}

.Services-cell {
  width: 35vmin;
  background-color: white;
  height: 65vmin;
  overflow: scroll;
  margin: 2vmin;
  border-radius: 5vmin;
}

.Services-images {
  max-width: 15vmin;
  max-height: 15vmin;
  position: relative;
  top: 2vmin
}
