/* * {
  border: .1px solid red
} */

html {
  scroll-behavior: smooth;
}

.Top-bar {
  display: flex;
  flex-direction: row;
  background-color: #CECCCC;
  justify-content: space-between;
  align-items: center;
  height: 5vmin;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
}

.Instagram-logo {
  width: 4vmin;
  height: 4vmin;
  display: flex;
  align-items: right;
  vertical-align: middle;
  padding: 1vmin;
}

.Instagram-wrapper {
  position: relative;
  cursor: pointer;
}

.Instagram-wrapper div{
  position: absolute;
  opacity: 1;
  visibility: hidden;
  background-color: #ccc;
  width: 10vmin;
  text-align: center;
}

.Instagram-wrapper:hover div{
  opacity: 1;
  visibility: visible;
}

.Email-logo {
  width: 5vmin;
  height: 5vmin;
  display: flex;
  align-items: right;
  vertical-align: middle;
  position: relative;
  top: .5vmin;
}

.Email-wrapper {
  cursor: copy;
}

.Logos {
  display: flex;
  flex-direction: row;
  padding-right: 1%;
}

.Address {
  color: black;
  font-family: Merienda;
  font-weight: bolder;
  padding-left: 1%;
  font-size: 2vmin;
  text-decoration: none;
}

.Navbar {
  display: flex;
  flex-direction: row;
  background-color: #65686e;
  justify-content: space-between;
  align-items: center;
  height: 10vmin;
  position: fixed;
  width: 100%;
  top: 5vmin;
  z-index: 2;
}

.Business-logo {
  position: relative;
  max-width: 10vmin;
  max-height: 10vmin;
  left: 10vmin;
}

.Quote-button-text {
  text-decoration: none;
  color: black;
  font-family: Merienda;
  font-weight: bolder;
  font-size: 2vmin;
  vertical-align: middle;
}

.Nav-button {
  position: relative;
  right: 5vmin;
  background-color: rgb(246, 243, 242);
  height: 8vmin;
  width: 20vmin;
  border-radius: 2vmin;
  color: #282c34;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Nav-text {
  font-family: Merienda;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  position: relative;
  left: 6vmin;
  font-size: 2.5vmin;
}

.Phone-number {
  position: relative;
  left: -17vmin;
  color: black;
  font-family: Merienda;
  font-weight: bolder;
  text-decoration: none;
  cursor: copy;
  font-size: 2vmin;
}

.First-section {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  width: 100%;
  height: 75vmin;
}

.Wrapper-div {
  margin: 15vmin;
}

.First-section-button {
  background-color: rgb(246, 243, 242);
  height: 16vmin;
  width: 40vmin;
  border-radius: 3vmin;
  color: #282c34;
  font-family: Merienda;
  font-weight: bolder;
  font-size: 4vmin;
  cursor: pointer;
  position: relative;
  top: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.First-section-button-text {
  text-decoration: none;
  color: black;
  font-family: Merienda;
  font-weight: bolder;
  font-size: 4.5vmin;
  vertical-align: middle;
}

.First-section-text {
  font-family: Merienda;
  font-weight: bolder;
  font-size: 4vmin;
  position: absolute;
  top: 14vmin;
  z-index: 1;
  overflow-wrap: break-word;
  inline-size: 100vmin;
  text-align: center;
  color: white;
  width: 101vmin
}

.First-section-text-2 {
  font-family: Merienda;
  font-weight: bolder;
  font-size: 4vmin;
  position: absolute;
  top: 75vmin;
  z-index: 1;
  overflow-wrap: break-word;
  inline-size: 100vmin;
  text-align: center;
  color: white;
  width: 101vmin
}

.Skelly-left {
  position: absolute;
  height: 70vmin;
  left: 5vmin;
  top: 20vmin;
}

.Skelly-right {
  position: absolute;
  height: 70vmin;
  right: 5vmin;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  top: 20vmin;
}

.First-section-footer {
  height: 10vmin;
  background-color: #282c34;
  display: flex;
  place-content: center;
}

.Navigate-down-button {
  position: fixed;
  width: 6vmin;
  height: 6vmin;
  border-radius: 50%;
  border: none;
  background-image: url("https://static.thenounproject.com/png/516849-200.png");
  background-size: cover;
  bottom: 2vmin;
  z-index: 4;
  filter: brightness(0) invert(1)
}

.Navigate-down-button:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition-duration: 400ms;
}

.Services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  text-align: center;
  color: white;
  position: relative;
  font-family: Merienda;
}

.Services-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  flex-wrap: wrap;
  padding: 5vmin;
  padding-top: 0;
  padding-bottom: 0;
}

.Services-cell {
  width: 35vmin;
  background-color: #CECCCC;
  height: 72vmin;
  overflow: scroll;
  margin: 2vmin;
  border-radius: 5vmin;
}

.Services-cell h1{
  font-size: 4.5vmin;
}

.Services-cell p{
  font-size: 2.5vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
}

.Services-images {
  max-width: 15vmin;
  max-height: 15vmin;
  position: relative;
  top: 2vmin;
}

.Services-title {
  position: relative;
  top: 1vmin;
}

.Quote-title {
  position: relative;
  top: 15vmin;
  text-align: center;
}

.Quote-form-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Quote-form {
  position: relative;
  background-color: red;
  height: 80vmin;
  width: 110vmin;
  border-radius: 3vmin;
  top: 2vmin;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}